/* ===== IMPORTAÇÃO DE FONTES ===== */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* ===== HEADER ===== */
.header {
    display: flex;
    align-items: center;
    padding: 20px 35px;
    box-sizing: border-box;
    background-color: #FAFBF9;
    font-family: "Playfair Display", serif;
    color: #5E7858;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.header h1 {
    font-size: 40px;
    margin: 0;
}

/* ===== SIDEBAR ===== */
.sidebar {
    width: 220px;
    height: 100vh;
    background-color: #5e7858b0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.sidebar a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: block;
    transition: background 0.3s;
}

.sidebar a:hover {
    background-color: #FAFBF9;
    color: #5E7858;
}